.dp {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.intro{
    padding-top: 4%;
    font-family: 'Arial';
}

.black-text {
    color: black;
}

.nav-bg {
    background-color: rgb(236, 236, 236);
}