---
layout: default
---
{{ content }}

{% include slideshow.html %}

<br><br>
<nav class="post-nav">
  {% if page.previous %}
    <a class="post-nav__prev" href="{{ page.previous.url | relative_url }}">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      {{ page.previous.title }}
    </a>
  {% endif %}

  {% if page.next %}
    <a class="post-nav__next" href="{{ page.next.url | relative_url }}">
      {{ page.next.title }}
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  {% endif %}
</nav>